/* RESET */
*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#ffffff;
}

/* CORES */
:root{
  --azul-topo:#0B4F8A;
  --azul-menu:#0A3F66;
  --cinza-header:#e6e6e6;
}

/* ============================= */
/* BARRA SUPERIOR (links governo)*/
/* ============================= */

.top-bar{
  background:var(--azul-topo);
  color:#fff;
  font-size:14px;
  padding:6px 20px;
  text-align:right;
}

.top-bar a{
  color:#fff;
  text-decoration:none;
  margin-left:15px;
}

/* ============================= */
/* HEADER PRINCIPAL              */
/* ============================= */

header{
  background:var(--cinza-header);
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:15px 20px;
}

/* LOGO */

header img{
  height:55px;
}

/* TÍTULO */

.title{
  flex:1;
  margin-left:15px;
}

.title{
  flex:1;
  text-align:center;
}

.title h1{
  margin-right:10px;
  font-size:32px;
  font-weight:bold;
  color: #080101;
}

.title p{
  margin:0;
  font-size:14px;
  color:black;
}

/* ÍCONES SOCIAIS */

.logo{
  display:flex;
  gap:12px;
}

.logo img{
  width:36px;
  height:36px;
}

/* BUSCA */

.search{
  display:flex;
  align-items:center;
  margin-left:20px;
}

.search input{
  padding:6px 10px;
  border:1px solid #999;
}

.search button{
  padding:6px 12px;
  background:var(--azul-menu);
  color:#fff;
  border:none;
  margin-left:5px;
  cursor:pointer;
}

/* ============================= */
/* MENU PRINCIPAL                */
/* ============================= */

.main-menu{
  background:var(--azul-menu);
}

.main-menu ul{
  margin:0;
  padding:10px;
  list-style:none;

  display:flex;
  justify-content:center;
  gap:25px;
}

.main-menu a{
  color:#fff;
  text-decoration:none;
  font-weight:bold;
  font-size:15px;
}

.main-menu a:hover{
  text-decoration:underline;
}

/* ============================= */
/* CONTEÚDO                      */
/* ============================= */

main{
  max-width:1100px;
  margin:25px auto;
  padding:0 20px;
  text-align:center;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
  margin-top:20px;
}

.card{
  border:1px solid #ddd;
  padding:15px;
  border-radius:5px;
}

/* ============================= */
/* RODAPÉ                        */
/* ============================= */

footer{
  background:#e6e6e6;
  text-align:center;
  padding:20px;
  margin-top:40px;
}

footer a{
  color:#0B4F8A;
  text-decoration:none;
}